.container{
    overflow: hidden;

}

.container > * {
    padding: 0 15rem;

    @media only screen and (max-width: $bp-lg){
        padding: 0 6rem;

    }
    @media only screen and (max-width: $bp-sm){
        padding: 0 4rem;

    }
}

.header{
    background-image: url(../imgs/bg-header-desktop.png);
    background-size: cover;
    background-position: center;

    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media only screen and (max-width: $bp-sm){
        background-image: url(../imgs/bg-header-mobile.png);
    }
}

.main{
    background-color: #fff;
}

.main > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-about{
    margin-top: 5rem;
}

.section-track{
    margin-top: $margin-top-lg;
}
.section-clipboard{
    margin-top: $margin-top-md;
}
.section-workflow{
    margin-top: $margin-top-md;
}
.section-download{
    margin-top: $margin-top-lg;
}

.footer{
    margin-top: $margin-top-lg;
    background-color: hsla(201, 11%, 66%, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 8rem;

    @media only screen and (max-width: $bp-sm){
        flex-direction: column;
        align-items: center;
    }
}